.example-card {
  background-color: #efeeec;
  border-radius: 1.5em;
  width: 30em;
  height: 20em;
  padding: 1.25em;
  display: flex;
}

.example-card__start {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  display: flex;
}

.example-card__end {
  width: 50%;
}

.example-card__img {
  object-fit: cover;
  border-radius: 0.5em;
  width: 100%;
  height: 100%;
}

.new-badge {
  background-color: #ff4c24;
  border-radius: 0.25em;
  padding: 0.3em 0.5em 0.25em;
  display: none;
}

.new-badge__span {
  color: #efeeec;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.new-badge__h2 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.25em;
  font-family: PP Neue Corp Tight, Arial, sans-serif;
  font-size: 2.75em;
  font-weight: 700;
  line-height: 0.8;
}
